# Secrets
**/secrets/*

# Authelia
users_database.yml
*.pem

# direnv
.direnv
.envrc

# Environment
.env
.env-dev
.envold

# Ansible
pro.ini
dev.ini

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
